<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="31">
        <activity
            android:name=".Screen4"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".transAct"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screen3"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:label="@string/title_activity_screen3"
            android:theme="@style/Theme.FinalProject" />
        <activity
            android:name=".Screen2"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:label="@string/title_activity_screen2"
            android:theme="@style/Theme.FinalProject" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"></activity>
    </application>

</manifest>